<h2 md-dialog-title>NOVO ÁLBUM</h2>
<md-dialog-content>
  <div fxLayout="column">
    <md-input-container>
      <input mdInput placeholder="Title" [(ngModel)]="album.title">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Subtitle" [(ngModel)]="album.subtitle">
    </md-input-container>
    <md-input-container>
      <textarea mdInput placeholder="Description" [(ngModel)]="album.description"></textarea>
    </md-input-container>
    <input type="file" ng2FileSelect [uploader]="uploader" multiple  />
    <md-list>
      <md-list-item *ngFor="let file of files"> {{file.name}} </md-list-item>
    </md-list>
  </div>

</md-dialog-content>
<md-dialog-actions>
  <button md-button md-dialog-close>Cancel</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button md-button (click)="save()">Save</button>
</md-dialog-actions>
